.App {
  min-height: 100vh;
  text-align: center;
}

.Header {
  margin: 0;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-left: 5vh;
  padding-right: 5vh;
}
.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 2vh;
}

.HeaderLink {
  color: white;
  text-decoration: none;
}

.Main {
  margin: 0;
  padding-left: 5vh;
  padding-right: 5vh;
  min-height: 70vh;
}

.Introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Person {
  display: flex;
  flex-direction: row;
}
.Footer {
  margin: 0;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-right: 5vh;
  padding-left: 5vh;
}

/* 
colors 
background-color: #282c34;
background-color: lightblue;
*/
